* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(210, 210, 210, 0.1);
  }

  #sidebar #header-link {
    text-decoration: none;
}

#sidebar #header-link .head-bg:hover {
    color: rgba(59, 61, 61, 1);
    background-color: rgba(54, 208, 249, 0.4);
}

#sidebar .head-bg {
    background-color: LightGray;
}

header {
    color: #111;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}

#main-doc header {
    border-left: 5px solid red;
    width: 100%;
}

#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 5px solid rgb(106, 90, 205);
}

.nav-link {
    text-decoration: none;
    color: #111;
    padding: 15px;
    display: block;
    border-top: 1.5px solid rgb(60, 60, 60);
    border-left: 5px solid red;
}   

.nav-link:hover {
    color: white;
    background-color: rgb(120, 120, 120);
}

#main-doc {
    margin-left: 250px;
    padding-left: 30px;
    padding-top: 10px;
}

p {
    margin-left: 38px;
    text-align: justify;
}

ul {
    margin-left: 45px;
    line-height: 40px;
}

.js p {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.js {
    margin-left: 20px;
    background-color: rgba(126, 127, 127, 0.1);
    width: 100%;
    height: 40px; 
}

.js-2 {
    margin-left: 20px;
    background-color: rgba(126, 127, 127, 0.1);
    width: 100%;
    height: 60px;
}

.js-2 p {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.js-3 {
    margin-left: 20px;
    background-color: rgba(126, 127, 127, 0.1);
    width: 100%;
    height: 75px;
}

.js-3 p {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.js-4 {
    margin-left: 20px;
    background-color: rgba(126, 127, 127, 0.1);
    width: 100%;
    height: 95px;
}

.js-4 p {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-transform: lowercase;
}

#Reference a {
    text-decoration: none;
}

#Reference a:hover {
    color: red;
}
